{% extends 'base.html' %}
{% block title %} Dashboard {% endblock %}
{% load static %}

{% block contenido %}
    <main id="main" class="main">

        <div class="pagetitle">
            <h1>{{ title }}</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active">{{ title }}</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section dashboard">
            <div class="row">

                <!-- Left side columns -->
                <div class="col-lg-8">
                    <div class="row">

                        <!-- Supports Today -->
                        <div class="col-xxl-4 col-md-6">
                            <div class="card info-card sales-card">

                                <div class="card-body">
                                    <h5 class="card-title">Soportes <span><br>| Hoy</span></h5>

                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-ethernet"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>{{ soportes }}</h6>
                                            <span class="text-success small pt-1 fw-bold">12%</span> <span
                                                class="text-muted small pt-2 ps-1">increase</span>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div><!-- End Sales Card -->

                        <!-- Installations Weekly -->
                        <div class="col-xxl-4 col-md-6">
                            <div class="card info-card revenue-card">

                                <div class="card-body">
                                    <h5 class="card-title">Instalaciones <span><br>| Semanal</span></h5>

                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-diagram-2-fill"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>{{ inst }}</h6>
                                            <span class="text-success small pt-1 fw-bold">8%</span> <span
                                                class="text-muted small pt-2 ps-1">increase</span>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div><!-- End Revenue Card -->

                        <!-- Customers Monthly -->
                        <div class="col-xxl-4 col-xl-12">

                            <div class="card info-card customers-card">

                                <div class="card-body">
                                    <h5 class="card-title">Clientes <span><br>| Mensual</span></h5>

                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-people"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>65</h6>
                                            <span class="text-success small pt-1 fw-bold">17%</span> <span
                                                class="text-muted small pt-2 ps-1">increase</span>

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div><!-- End Customers Card -->

                        <!-- Reports 1-->
                        <div class="col-12">
                            <div class="card">

                                <div class="filter">
                                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                        <li class="dropdown-header text-start">
                                            <h6>Filter</h6>
                                        </li>

                                        <li><a class="dropdown-item" href="#">Today</a></li>
                                        <li><a class="dropdown-item" href="#">This Month</a></li>
                                        <li><a class="dropdown-item" href="#">This Year</a></li>
                                    </ul>
                                </div>

                                <div class="card-body">
                                    <h5 class="card-title">Soportes por Celdas <span></span></h5>

                                    <!-- Line Chart -->
                                    <div id="container1">
                                        <div id="reportsChart"></div>
                                    </div>

                                    <script>
                                        Highcharts.setOptions({
                                            colors: Highcharts.map(Highcharts.getOptions().colors, function (color) {
                                                return {
                                                    radialGradient: {
                                                        cx: 0.5,
                                                        cy: 0.3,
                                                        r: 0.7
                                                    },
                                                    stops: [
                                                        [0, color],
                                                        [1, Highcharts.Color(color).brighten(-0.3).get('rgb')]
                                                    ]
                                                };
                                            })
                                        });
                                        Highcharts.chart('reportsChart', {
                                            chart: {
                                                type: 'column'
                                            },
                                            title: {
                                                text: ''
                                            },
                                            credits: {
                                                enabled: false
                                            },
                                            xAxis: {
                                                categories: [
                                                    'Jan',
                                                    'Feb',
                                                    'Mar',
                                                    'Apr',
                                                    'May',
                                                    'Jun',
                                                    'Jul',
                                                    'Aug',
                                                    'Sep',
                                                    'Oct',
                                                    'Nov',
                                                    'Dec'
                                                ],
                                                crosshair: true
                                            },
                                            yAxis: {
                                                min: 0,
                                                title: {
                                                    text: 'Amount'
                                                }
                                            },
                                            tooltip: {
                                                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                                                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                                    '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                                                footerFormat: '</table>',
                                                shared: true,
                                                useHTML: true
                                            },
                                            plotOptions: {
                                                column: {
                                                    pointPadding: 0.2,
                                                    borderWidth: 0
                                                }
                                            },
                                            series: [{
                                                name: 'Creditcard',
                                                data: [59.9, 61.5, 104.1, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]

                                            }, {
                                                name: 'Banesco',
                                                data: [83.6, 78.8, 98.5, 93.4, 94.1, 84.5, 105.0, 74.6, 71.2, 83.5, 76.6, 82.3]

                                            }, {
                                                name: 'BNC',
                                                data: [78.9, 77.8, 89.3, 69.4, 76.9, 83.6, 91.0, 89.6, 72.4, 75.2, 89.3, 81.2]

                                            }, {
                                                name: 'Others',
                                                data: [42.4, 33.2, 34.5, 39.7, 52.6, 75.5, 57.4, 60.4, 47.6, 39.1, 46.8, 51.1]

                                            }]
                                        });
                                    </script>
                                    <!-- End Line Chart -->

                                </div>

                            </div>
                        </div><!-- End Reports -->

                        <!-- Reports 2-->
                        <div class="col-12">
                            <div class="card">

                                <div class="filter">
                                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                        <li class="dropdown-header text-start">
                                        </li>

                                        <li><a class="dropdown-item" href="#">All</a></li>
                                    </ul>
                                </div>

                                <div class="card-body">
                                    <h5 class="card-title">POS General Status Today<span></span></h5>

                                    <!-- Line Chart -->
                                    <div id="container1">
                                        <div id="reportsChart2"></div>
                                    </div>

                                    <script>
                                        Highcharts.chart('reportsChart2', {
                                            chart: {
                                                type: 'column'
                                            },
                                            title: {
                                                text: ''
                                            },
                                            xAxis: {
                                                categories: ['Active', 'No Active']
                                            },
                                            credits: {
                                                enabled: false
                                            },
                                            series: [{
                                                name: 'Creditcard',
                                                data: [789, -85]
                                            }, {
                                                name: 'Banesco',
                                                data: [673, -81]
                                            }, {
                                                name: 'BNC',
                                                data: [954, -79]
                                            }, {
                                                name: 'Others',
                                                data: [537, -97]
                                            }]
                                        });
                                    </script>
                                    <!-- End Line Chart -->

                                </div>

                            </div>
                        </div><!-- End Reports -->

                        <!-- Reports 3 -->

                        <!-- Reports 4-->
                        <div class="col-12">
                            <div class="card">

                                <div class="card-body">
                                    <h5 class="card-title">Monthly POS Transaction Activity <span></span></h5>

                                    <!-- Line Chart -->
                                    <div id="container1">
                                        <div id="reportsChart5"></div>
                                    </div>

                                    <script>
                                        Highcharts.chart('reportsChart5', {
                                            chart: {
                                                type: 'line'
                                            },
                                            title: {
                                                text: ''
                                            },
                                            credits: {
                                                enabled: false
                                            },
                                            xAxis: {
                                                categories: [
                                                    'Jan',
                                                    'Feb',
                                                    'Mar',
                                                    'Apr',
                                                    'May',
                                                    'Jun',
                                                    'Jul',
                                                    'Aug',
                                                    'Sep',
                                                    'Oct',
                                                    'Nov',
                                                    'Dec'
                                                ],
                                                crosshair: true
                                            },
                                            yAxis: {
                                                min: 0,
                                                title: {
                                                    text: 'Amount'
                                                }
                                            },
                                            tooltip: {
                                                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                                                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                                    '<td style="padding:0"><b>{point.y:.1f} USD</b></td></tr>',
                                                footerFormat: '</table>',
                                                shared: true,
                                                useHTML: true
                                            },
                                            plotOptions: {
                                                column: {
                                                    pointPadding: 0.2,
                                                    borderWidth: 0
                                                }
                                            },
                                            series: [{
                                                name: 'Creditcard',
                                                data: [25689.9, 33875.5, 45218.1, 589129.2, 587144.0, 471176.0, 596135.6, 452148.5, 653216.4, 764194.1, 98695.6, 78454.4]

                                            }, {
                                                name: 'Banesco',
                                                data: [48783.6, 78978.8, 48998.5, 87693.4, 26994.1, 68784.5, 481105.0, 68774.6, 56871.2, 89683.5, 98376.6, 99782.3]

                                            }, {
                                                name: 'BNC',
                                                data: [58778.9, 36577.8, 63689.3, 74769.4, 25676.9, 67883.6, 489691.0, 15989.6, 36972.4, 47875.2, 75889.3, 89681.2]

                                            }, {
                                                name: 'Others',
                                                data: [14742.4, 13133.2, 30134.5, 40139.7, 20452.6, 10375.5, 45357.4, 32160.4, 12347.6, 45639.1, 75446.8, 36951.1]

                                            }]
                                        });
                                    </script>
                                    <!-- End Line Chart -->

                                </div>

                            </div>
                        </div><!-- End Reports -->

                    </div>
                </div><!-- End Left side columns -->

                <!-- Right side columns -->
                <div class="col-lg-4">

                    <!-- Recent Activity -->
                    <div class="card">
                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                </li>

                                <li><a class="dropdown-item" href="#">All</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Recent Work Flow <span>| Today</span></h5>

                            <div class="activity">

                                <div class="activity-item d-flex">
                                    <div class="activite-label">12 min</div>
                                    <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                                    <div class="activity-content">
                                        POS - 214288690 [00098] Vx510 (DIAL) PCI - sent to technical support
                                    </div>
                                </div><!-- End activity item-->

                                <div class="activity-item d-flex">
                                    <div class="activite-label">26 min</div>
                                    <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                                    <div class="activity-content">
                                        Voluptatem blanditiis blanditiis eveniet
                                    </div>
                                </div><!-- End activity item-->

                                <div class="activity-item d-flex">
                                    <div class="activite-label">58 min</div>
                                    <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
                                    <div class="activity-content">
                                        Voluptates corrupti molestias voluptatem
                                    </div>
                                </div><!-- End activity item-->

                                <div class="activity-item d-flex">
                                    <div class="activite-label">67 min</div>
                                    <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
                                    <div class="activity-content">
                                        AFFILIATE: 70573113 DISTRIBUIDORA D BELLEZA C A - J-305273375 - Register 00003
                                        new POS
                                    </div>
                                </div><!-- End activity item-->

                                <div class="activity-item d-flex">
                                    <div class="activite-label">317 min</div>
                                    <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
                                    <div class="activity-content">
                                        AFFILIATE: 70292173 FARMACIA THE FALL C A - J-308506907 - Request technical
                                        review
                                    </div>
                                </div><!-- End activity item-->

                            </div>

                        </div>
                    </div><!-- End Recent Activity -->

                    <!-- Supports by City -->
                    <div class="card">
                        <div class="card-body pb-0">
                            <h5 class="card-title">Soportes por Ciudad <span>| Today</span></h5>

                            <div id="trafficChart" style="min-height: 400px;" class="echart"></div>

                            <script>
                                Highcharts.chart('trafficChart', {
                                    chart: {
                                        plotBackgroundColor: null,
                                        plotBorderWidth: null,
                                        plotShadow: false,
                                        type: 'pie'
                                    },
                                    title: {
                                        text: ''
                                    },
                                    credits: {
                                        enabled: false
                                    },
                                    tooltip: {
                                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                                    },
                                    accessibility: {
                                        point: {
                                            valueSuffix: '%'
                                        }
                                    },
                                    plotOptions: {
                                        pie: {
                                            allowPointSelect: true,
                                            cursor: 'pointer',
                                            dataLabels: {
                                                enabled: true,
                                                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                                                connectorColor: 'silver'
                                            }
                                        }
                                    },
                                    series: [{
                                        name: 'Share',
                                        data: [
                                            {name: 'Caracas', y: 31.41},
                                            {name: 'Guatire-Guarenas', y: 22.12},
                                            {name: 'Caucagua', y: 28.61},
                                            {name: 'Higuerote', y: 7.05}
                                        ]
                                    }]
                                });
                            </script>

                        </div>
                    </div><!-- End Website Traffic -->

                    <!-- Reports Generator -->
                    <div class="card"><br><br>
                        <div class="card-body pb-0">
                            <div id="trafficChart" style="min-height: 400px;" class="echart">
                                <img src="{% static 'core/img/data-report.png' %}" class="logo" alt="itss"
                                     style="width: 90%; height: 90%;">
                                <h5 class="card-title">Generador de Reportes</h5>
                                <p class="mb-4 align-items-center">
                                    ¿Listo para comenzar? Es hora de empezar a construir los reportes necesarios.
                                </p>
                                <center><a class="btn btn-primary p-3 align-content-stretch" href="{% url 'assignment' %}"
                                           style="box-shadow: lightgray 2px 2px 2px; text-shadow: darkblue 1px 1px 1px"><b>Continuar</b></a></center>
                            </div>


                        </div>
                    </div><!-- End Website Traffic -->

                    {#          <!-- News & Updates Traffic -->#}
                    {#          <div class="card">#}
                    {#            <div class="filter">#}
                    {#              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>#}
                    {#              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">#}
                    {#                <li class="dropdown-header text-start">#}
                    {#                  <h6>Filter</h6>#}
                    {#                </li>#}
                    {##}
                    {#                <li><a class="dropdown-item" href="#">Today</a></li>#}
                    {#                <li><a class="dropdown-item" href="#">This Month</a></li>#}
                    {#                <li><a class="dropdown-item" href="#">This Year</a></li>#}
                    {#              </ul>#}
                    {#            </div>#}
                    {##}
                    {#            <div class="card-body pb-0">#}
                    {#              <h5 class="card-title">News &amp; Updates <span>| Today</span></h5>#}
                    {##}
                    {#              <div class="news">#}
                    {#                <div class="post-item clearfix">#}
                    {#                  <img src="assets/img/news-1.jpg" alt="">#}
                    {#                  <h4><a href="#">Nihil blanditiis at in nihil autem</a></h4>#}
                    {#                  <p>Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed ut harum...</p>#}
                    {#                </div>#}
                    {##}
                    {#                <div class="post-item clearfix">#}
                    {#                  <img src="assets/img/news-2.jpg" alt="">#}
                    {#                  <h4><a href="#">Quidem autem et impedit</a></h4>#}
                    {#                  <p>Illo nemo neque maiores vitae officiis cum eum turos elan dries werona nande...</p>#}
                    {#                </div>#}
                    {##}
                    {#                <div class="post-item clearfix">#}
                    {#                  <img src="assets/img/news-3.jpg" alt="">#}
                    {#                  <h4><a href="#">Id quia et et ut maxime similique occaecati ut</a></h4>#}
                    {#                  <p>Fugiat voluptas vero eaque accusantium eos. Consequuntur sed ipsam et totam...</p>#}
                    {#                </div>#}
                    {##}
                    {#                <div class="post-item clearfix">#}
                    {#                  <img src="assets/img/news-4.jpg" alt="">#}
                    {#                  <h4><a href="#">Laborum corporis quo dara net para</a></h4>#}
                    {#                  <p>Qui enim quia optio. Eligendi aut asperiores enim repellendusvel rerum cuder...</p>#}
                    {#                </div>#}
                    {##}
                    {#                <div class="post-item clearfix">#}
                    {#                  <img src="assets/img/news-5.jpg" alt="">#}
                    {#                  <h4><a href="#">Et dolores corrupti quae illo quod dolor</a></h4>#}
                    {#                  <p>Odit ut eveniet modi reiciendis. Atque cupiditate libero beatae dignissimos eius...</p>#}
                    {#                </div>#}
                    {##}
                    {#              </div><!-- End sidebar recent posts-->#}
                    {##}
                    {#            </div>#}
                    {#          </div><!-- End News & Updates -->#}
                    {##}
                    {#        </div><!-- End Right side columns -->#}

                </div>
            </div>
        </section>

    </main><!-- End #main -->
{% endblock %}
